{% extends '/general/layout.html' %}
{% block body %}
    <div class="container mt-3">
        <div class="head-1 text-center">About Us</div>
        <div class="col-lg-12 mt-5">
            <!--Paragraph 1-->
            <p>
                Customer testimonials are powerful persuaders. Just think about how much you trust ratings and reviews when buying a new phone or looking for a restaurant. The experiences shared by others are an incredibly valuable marketing tool that shouldn’t be skipped over.The effectiveness of this "social proof" has been repeatedly demonstrated. In fact, according to Salesforce research, around 79% of potential customers take reviews into consideration before an in-store purchase and 85% before an online purchase.
                For a small company – where word of mouth recommendations are already an important source of new business – testimonials and customer success stories are another important part of how to write an appealing “About us” page.
                Just one or two quotes from customers can have a great effect. The more information about the testimonial the better – name, job title and company are ideal. But even if some customers won't let you quote them by name, they might be happy with a more general attribution such as "Sales Manager" and the company name. 
            </p>

            <!--Paragraph 2-->
            <p>
                Customer testimonials are powerful persuaders. Just think about how much you trust ratings and reviews when buying a new phone or looking for a restaurant. The experiences shared by others are an incredibly valuable marketing tool that shouldn’t be skipped over.The effectiveness of this "social proof" has been repeatedly demonstrated. In fact, according to Salesforce research, around 79% of potential customers take reviews into consideration before an in-store purchase and 85% before an online purchase.
                For a small company – where word of mouth recommendations are already an important source of new business – testimonials and customer success stories are another important part of how to write an appealing “About us” page.
                Just one or two quotes from customers can have a great effect. The more information about the testimonial the better – name, job title and company are ideal. But even if some customers won't let you quote them by name, they might be happy with a more general attribution such as "Sales Manager" and the company name. 
            </p>

        </div>
    </div>    


{% endblock  %}