{% extends '/contractor/layout.html' %}
{% block body %}
<div class="container">
    <!-- row1 -->
    <div class="row" style="margin-top:4%;">
        <div class="col-lg-1 space-div"></div>
        
        <a href="/contractor/view/jobs/1" class="opbox col-lg-3">New Jobs</a>
        <div class="col-lg-2"></div>
        <a href="/contractor/view/jobs/2" class="opbox col-lg-3">Active Jobs</a>
    </div>
    <!-- row2 -->
    <div class="row">
        <div class="col-lg-1 space-div"></div>
        <a href="/contractor/view/jobs/3"  class="opbox col-lg-3">Completed Jobs</a>
        <div class="col-lg-2"></div>
        <a href="/contractor/view/jobs/4"  class="opbox col-lg-3">Reassigned Jobs</a>
    </div>
</div>
<style>
    .space-div{
        margin-left:4%;
    }
    .container-fluid a{
    text-decoration:none;
    color:#393e46
}
.container-fluid a:hover{
    text-decoration: none;
    color:#393e46;
    border-bottom: 1px solid skyblue;
}
</style>
{% endblock%}