{% extends '/admin/layout.html' %}
{% block body %}
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-7 form-body">
                <div class="head-1" style="text-align: center; width: 100%;">Add Jobs</div>
                <form action="/admin/add/jobs" method="get">
                    <label for="title">Job Title</label> <!--Taking Job title-->
                    <input type="text" name="title" required id="title" class="form-control" oninvalid="this.setCustomValidity('A jobs must have its title')" oninput="setCustomValidity('')">
                                    
                    <label for="client">Client Name</label><!--Taking Client name of a job-->
                    <input type="text" name="client" required id="client" class="form-control" oninvalid="this.setCustomValidity('Enter Client Name')" oninput="setCustomValidity('')">
                    
                    <label for="work-date">Work Date</label><!--Taking work date-->
                    <input type="date" class="form-control" required name="work_date" id="work-date" oninvalid="this.setCustomValidity('Enter the work date of the Job.')" oninput="setCustomValidity('')">

                    <label for="contact">Client Contact Number</label><!--Taking contact number of the client-->
                    <div class="col-lg-12">
                        <div class ="row">
                            <div class="contact-number-feild">
                            <div id="code"><!--Taking the country code of the client-->
                                <select name="country-code" class= "form-control" oninvalid="this.setCustomValidity('Choose country')" id="contact">
                                    <option value="+91" selected>India</option>
                                    <option value="+61" selected>Australia</option>
                                </select>
                            </div>
                            <div id="number"><!--Taking client number-->
                                <input type="number" onchange="validate_contact(document.getElementById('contact'), this)" required name="number" class="form-control">
                            </div>
                            </div>
                        </div>
                    </div>

                    <label for="details">Job Details</label><!--Taking details of a job-->
                    <textarea name="details" required id="details" class="form-control" oninvalid="this.setCustomValidity('Please enter the details of this job')" oninput="setCustomValidity('')"></textarea>

                    <label for="address">Client Address</label><!--Taking Client Address-->
                    <textarea name="address" required id="address" class="form-control" oninvalid="this.setCustomValidity('Enter the address')" oninput="setCustomValidity('')" rows="2"></textarea>
                    
                    <label for="details">Client Note <span style="font-size: 10px;">(optional)</span> </label><!--Taking any note by the project-->
                    <textarea name="details" required id="details" class="form-control"></textarea>

                    <button class="btn btn-outline-success" style="width:100%; margin: 5px;">Add Jobs</button>

                </form>
            </div>
            
            <!--Creating the lis to all the added jobs-->
            <div class="col-lg-4 added-item">
                <div class="head-1" style="text-align: center;position: sticky;width: 100%;top:0px;z-index:10;display:block;background-color:white;">Added Jobs</div>
                <div class="items">
                    <div class="row mt-3">
                        <div class="col-lg-12 text-center" id="nojob">No Jobs Added</div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>

{% endblock %}