{% extends '/admin/layout.html' %}
{% block body %}
<div class="container">
    <!-- row1 -->
    <div class="row" style="margin-top:4%;">
        <div class="col-lg-1 space-div"></div>
        <a href="/admin/view/jobs" class="opbox col-lg-2">Jobs</a>
        <a href="/admin/view/contractor" class="opbox col-lg-3">Contractor Details</a>
        <a href="/logout"  class="opbox col-lg-2">Logout</a>
    </div>
    <!-- row2 -->
    <div class="row">
        <div class="col-lg-1 space-div"></div>
        <div class="col-lg-2"></div>
        <a href="/admin/add/jobs" class="opbox col-lg-2">Add Jobs</a>
        <a href="/admin/add/contractor"  class="opbox col-lg-2">Add Contractor</a>
    </div>
</div>
<style>
    .space-div{
        margin-left:4%;
    }
</style>
{% endblock%}