<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kat.css') }}?31536050">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><div class="logo"><span style="color:lightgreen;"">Kleen</span><spa>&</span><span style="color:orange">Tidy</span></div></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mt-2 mt-lg-0 ml-auto menu-item">
                <li class="nav-item">
                  <a class="nav-link active" href="/admin/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/add/job">Add Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/view/jobs">Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/add/contractor">Add Contractor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/view/contractor">Contractor Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid body">
        <div class="head mt-4">
            <h3>Kleen & Tidy Cleaning Services</h3>
        </div>
        
        
        {% block body %}{% endblock %}
        
    </div>
    <div class="col-lg-12 py-3" id="footer">
            <div class="col-lg-12 head-1">Contact us</div>
            <div class="col-lg-12">
                <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Australia</a>
            </div>
            <div class="col-lg-12">
                <a href="mailto:annup76779@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> annup76779@gmail.com</a>
            </div>
            <div class="row">
            <div class="col-md-9">
                <div class="col-lg-12"><a href="tel:8726771497"><i class="fa fa-phone" aria-hidden="true"></i> 8726771497</a></div>
            </div>
            <div class="col-md-3 float-right text-center icons">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-google-plus" aria-hidden="true"></i>
            </div>
            </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            height = $("#footer").height() + $(".navbar").height() + $(".head").height();
            window_height = $(window).height();
            new_height = window_height - height;
            $(".container-fluid").css({"min-height":new_height});
            $(".added-items").height($(".form-body").height());
            for(i=0;i<100;i++)
                $(".items").append("<div class ='row mt-3'><div class='col-lg-12'>Glass Cleaning</div></div>");
        });
    </script>
</body>
</html>